---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
	const posts = await Astro.glob("../../content/posts/*.mdx");

	return posts.map((post) => ({
		params: {
			slug: post.frontmatter.slug,
		},
		props: {
			post,
		},
	}));
}

const categoryColors = {
	general: "bg-blue-200 text-blue-900",
	cartas: "bg-yellow-100 text-yellow-800",
	whisky: "bg-amber-200 text-amber-900",
	arte: "bg-pink-200 text-pink-900",
};

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title}>
	<article class="prose dark:prose-invert max-w-4xl mx-auto p-6 my-10">
		<h1 class="text-4xl font-bold mb-2 mt-4">{frontmatter.title}</h1>

		<p class="text-sm text-gray-500 dark:text-gray-400 mb-4">
			{new Date(frontmatter.date).toLocaleDateString()}
		</p>

		<img
			src={`/${frontmatter.featuredImage.src}`}
			alt={frontmatter.title}
			class="rounded-xl mb-6 w-full object-cover max-h-96"
		/>

		<div class="flex flex-wrap gap-2 mb-3">
			{
				frontmatter.category
					.split(",")
					.map((category) => (
						<span
							class={`px-2 py-1 text-xs font-medium rounded ${categoryColors[category] || "bg-gray-200 text-gray-800"}`}
						>
							{category}
						</span>
					))
			}
		</div>
		<Content />
		<div id="disqus_thread"></div>
	</article>
</Layout>

<script>
	/**
	 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */

	var disqus_config = function () {
		this.page.url =
			"https://elbauldelfriki.com/" + window.location.pathname; // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = window.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};

	(function () {
		// DON'T EDIT BELOW THIS LINE
		var d = document,
			s = d.createElement("script");
		s.src = "https://el-baul-del-friki.disqus.com/embed.js";
		s.setAttribute("data-timestamp", +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>
