---
import Layout from "../../layouts/Layout.astro";
import Comments from "../../components/comments/Comments.astro";

// Importa glob para cargar los MDX
const allPosts = await Astro.glob("../../content/posts/*.mdx");

// export async function getStaticPaths() { // Ya no necesitamos pasar el 'post' completo como prop
//   const posts = await Astro.glob("../../content/posts/*.mdx");
//   return posts.map((post) => ({
//     params: {
//       slug: post.frontmatter.slug,
//     },
//     props: {
//       // No necesitas pasar 'post' completo aquí, solo el slug para el params
//       // o si necesitas alguna prop específica para el layout antes de cargar el contenido
//       // por ejemplo: slug: post.frontmatter.slug // Ya está en params
//     },
//   }));
// }

// Obtén el slug de los parámetros de la URL
const { slug } = Astro.params;

// Busca el post correspondiente al slug
const post = allPosts.find((p) => p.frontmatter.slug === slug);

// Manejo de error si el post no se encuentra (opcional, pero buena práctica)
if (!post) {
	return Astro.redirect("/404"); // Redirige a una página 404 o muestra un error
}

// Ahora puedes desestructurar Content y frontmatter directamente del post encontrado
const { Content, frontmatter } = post;

const categoryColors = {
	general: "bg-blue-200 text-blue-900",
	cartas: "bg-yellow-100 text-yellow-800",
	whisky: "bg-amber-200 text-amber-900",
	arte: "bg-pink-200 text-pink-900",
};

const canonicalUrl = "https://elbauldelfriki.com/blog/" + frontmatter.slug;
---

<Layout
	title={frontmatter.title}
	excerpt={frontmatter.excerpt}
	tags={frontmatter.tags}
	canonicalUrl={canonicalUrl}
>
	<article class="prose dark:prose-invert max-w-5xl mx-auto p-6 my-10">
		<h1 class="text-4xl font-bold mb-2 mt-4">{frontmatter.title}</h1>

		<p class="text-sm text-gray-500 dark:text-gray-400 mb-4">
			{
				new Date(frontmatter.date).toLocaleDateString("es-PA", {
					year: "numeric",
					month: "long",
					day: "numeric",
				})
			}
		</p>

		<img
			src={`/${frontmatter.featuredImage.src}`}
			alt={frontmatter.title}
			class="rounded-xl mb-6 w-full object-cover max-h-96"
		/>

		<div class="flex flex-wrap gap-2 mb-3">
			{
				frontmatter.category
					.split(",")
					.map((category) => (
						<span
							class={`px-2 py-1 text-xs font-medium rounded ${categoryColors[category] || "bg-gray-200 text-gray-800"}`}
						>
							{category}
						</span>
					))
			}
		</div>
		<div class="pb-4">
			<Content />
		</div>

		<div class="my-8">
			<Comments postSlug={frontmatter.slug} />
			{/* Asegúrate de pasar el slug correcto */}
		</div>
	</article>
</Layout>
